<div class="footer-container">
  <div class="footer">
    <div class="footer-item">
      <h4 class="title">UMBRA FURNITURE</h4>
      <div class="detail">
        <p style="margin-bottom: 20px">We are a global housewares product design company. We bring thought and creativity to everyday items through original design.</p>
        <span>
          <span class="first-char">A</span> 001 Milacian Crest Street, Paris France
        </span>
        <span>
          <span class="first-char">T</span> +(084) 888 - 6789
        </span>
        <span>
          <span class="first-char">M</span> Contact@Umbra.com
        </span>
      </div>
    </div>
    <div class="footer-item">
      <h4 class="title">OPENING TIME</h4>
      <div class="detail">
        <span class="duration">Mon - Fri: 8AM - 10PM</span>
        <span class="duration">Sat: 9AM-8PM</span>
        <span class="duration">Sun: Closed</span>
        <span class="duration">We Work All The Holidays</span>
      </div>
    </div>
    <div class="footer-item">
      <h4 class="title">ABOUT</h4>
      <div class="detail">
        <a>About Us</a>
        <a>Shopping Guide</a>
        <a>Delivery Information</a>
        <a>Privacy Policy</a>
        <a>Our store</a>
      </div>
    </div>
    <div class="footer-item">
      <h4 class="title">ACCOUNT</h4>
      <div class="detail">
        <a>My Account</a>
        <a>Wishlist</a>
        <a>Order Tracking</a>
        <a>Shipping Info</a>
        <a>Return Policy</a>
      </div>
    </div>
  </div>
  <div style="display: flex; align-items: center; flex-direction: column;">
    <img src="http://zeitget.herokuapp.com/static/images/payment_logo.png" />
    <div style="font-size: 14px; color: #888888; margin: 20px 0 50px 0;">
      @ 2017. Designed by Zeiget
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "settings": []
}
{% endschema %}