<section class="zg-gridpost is-horizontal-res">
  <div class="zg-product--header is-flex"> <span>FURNITURE BLOG</span> </div>
  <div class="zg-product--description is-flex" style="margin-bottom: 35px;">
    <span>Lastest news of weak</span>
  </div>
  <div class="zg-gridpost--row is-flex">
    <div class="zg-gridpost__image"> </div>
    <div class="zg-gridpost__text">
      <h4>FURNITURE TIPS</h4>
      <h3>Create Gallery Walls in 3 Fun Steps</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor diam mauris, nec laoreet nibh...</p>
      <span class="zg-gridpost--button">Read More</span>
    </div>
  </div>
  <div class="zg-gridpost--row is-flex">
    <div class="zg-gridpost__text">
      <h4>FURNITURE TIPS</h4>
      <h3>Expert Tips for Decorating Your Holiday Table</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor diam mauris, nec laoreet nibh...</p>
      <span class="zg-gridpost--button">Read More</span>
    </div>
    <div class="zg-gridpost__image" style="background-image: url(http://wp.nootheme.com/umbra/wp-content/uploads/2016/05/33e47c01-854a-4fdb-8d70-a9fee7ba307c1111111222.jpg) !important;">
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Grid Posts",
  "settings": []
}
{% endschema %}