<div class="zg-grid">
  <div class="zg-grid--item zg-grid__sizer" style="float: left;">
    <img src="http://wp.nootheme.com/umbra/wp-content/uploads/2016/04/shortcode_banner1.jpg" />
  </div>
  <div class="zg-grid--item zg-grid__sizer">
    <img src="http://wp.nootheme.com/umbra/wp-content/uploads/2016/04/shortcode_banner2.jpg" />
  </div>
  <div class="zg-grid--item zg-grid__half">
    <img src="http://wp.nootheme.com/umbra/wp-content/uploads/2016/04/shortcode_banner3.jpg" />
  </div>
  <div class="zg-grid--item zg-grid__half">
    <img src="http://wp.nootheme.com/umbra/wp-content/uploads/2016/04/shortcode_banner4.jpg" />
  </div>
  <div class="zg-grid--item zg-grid__sizer" style="float: right;">
    <img src="http://wp.nootheme.com/umbra/wp-content/uploads/2016/05/shortcode_banner6.jpg" />
  </div>
</div>

{% schema %}
{
  "name": "Grid images",
  "settings": []
}
{% endschema %}