<section class="zg-subfee is-flex">
  <div class="zg-subfee--subscribe is-flex is-flex-1">
    <div class="zg-subfee--subscribe-image zg-subfee__inner">
      <div class="zg-subfee--center-block">
        <div class="zg-subfee--title">
          <h1>SUBSCRIBE EMAIL</h1>
          <h3>Get latest news & update from Umbra</h3>
        </div>
        <div class="zg-subfee--form">
          <i class="fa fa-envelope"></i>
          <input class="zg-component--input" placeholder="Your email address" />
        </div>
      </div>
    </div>
  </div>
  <div class="zg-subfee--feedback is-flex is-flex-1">
    <div class="zg-subfee--feedback-image zg-subfee__inner zg-subfee--wrapper"> <i class="fa fa-quote-left icon-quote-left"></i>
      <div class="zg-subfee--detail is-vertical-flex"> <img src="http://wp.nootheme.com/umbra/wp-content/uploads/2016/04/team7-100x100.jpg" />
        <span style="text-align: center; margin: 25px auto; maxWidth: 400;">
          <span class="testimonial-author">
            <strong style="text-transform: uppercase; margin-right: 10px;">Johnny Williams</strong> Chief Marketing Officer
          </span>
          <p style="margin-top: 25px;">
            Umbra is my favorite furniture store. Wonderful, friendly customer services, brand name furniture – my house is full of furniture from Umbra.
          </p>
        </span>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Subscribe and Feedback",
  "settings": []
}
{% endschema %}