<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zeiget</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../favicon.ico">
  <!--font -->
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400italic" rel="stylesheet" />
  <!--end font-->
  <!--css-->
  <link href="http://zeitget.herokuapp.com/static/css/antd.min.2.13.9.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{{ " theme.scss.css " | asset_url }}" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.theme.default.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <!--end css-->
  <!--script-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ " xlight.js " | asset_url }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.0.3/shuffle.min.js"></script>
  <!--end script-->
</head>

<body>
  <div class="layout">
    <div>
      <div id="header-mark" style="height: 85px; display: none;"></div>

      {{ content_for_layout }}

    </div>
  </div>
</body>

</html>